// @use "../../src/styles/globalScss.scss";
.section {
  position: relative;
  overflow-x: hidden;
}
.bannerHeading {
  color: var(--white);
  font-size: 52px;
  width: fit-content;
  margin-bottom: 40px;
  line-height: 70px;
  font-weight: var(--weight-secondary);

  b {
    font-weight: var(--bold);
  }
}
.bannerForm {
  width: 100%;
}
.bannerImg1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -12;
  transform: translateX(0%);
  max-height: 100%;
  display: flex;
  span {
    max-height: 100% !important;
  }
}
.bannerImg2 {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.bannerImg5 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-75%);
  z-index: -9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgYellow {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, 0%);
  width: 100%;
  z-index: -9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerImg3 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: -9;
}

@media screen and (max-width: 1279px) {
  .bannerImg1 {
    transform: translateX(-30%);
  }
  .bannerImg3 {
    transform: translateX(-20%);
  }
}
@media screen and (max-width: 1023px) {
  .bannerImg2 {
    transform: translate(30%, -30%);
  }
  .bannerImg5 {
    transform: translate(40%, -65%);
  }
  .bannerImg3 {
    transform: translateX(0);
  }
}
@media screen and (max-width: 767px) {
  .section {
    background-image: url(../../../assests//images/bannerResBg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -800px;
    background-position-x: 50%;
  }
  .bannerForm {
    div {
      justify-content: center;
    }
  }
  .bannerHeading {
    text-align: center;
  }
  .bannerImg1,
  .bannerImg2,
  .bannerImg5 {
    display: none;
  }
  .bannerImg3 {
    transform: translate(-20%, 20%) rotate(-30deg);
  }

  .bgYellow {
    transform: translate(-50%, -20%);
  }
}

@media screen and (max-width: 639px) {
  .bannerHeading {
    font-size: var(--heading-secondary);
    line-height: 33px;
  }
}
