// @use "../../src/styles/globalScss.scss";
.section {
  padding: 8rem 0 4rem;
  position: relative;
}
.bannerHeading {
  color: var(--white);
  font-size: 52px;
  width: fit-content;
  margin-bottom: 40px;
  line-height: 70px;
  font-weight: var(--weight-secondary);

  b {
    font-weight: var(--bold);
  }
}
.bannerForm {
  width: 100%;
}
.bannerImg1 {
  width: fit-content;
  img {
    max-width: 100%;
  }
}
.bannerImg2 {
  transform: translate(0%, 0);
}
.bannerImg5 {
  transform: translate(0%, 40%);
}
.bannerImg img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .bannerForm {
    div {
      justify-content: center;
    }
  }
  .bannerHeading {
    text-align: center;
  }
}
