.download {
  p {
    color: var(--white);
    font-size: var(--text-size);
    font-weight: var(--weight-secondary);
    text-transform: capitalize;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .download {
    margin-bottom: 7rem !important;
    p {
      text-align: center;
    }
  }
}
